# Dependencies
node_modules/

# Next.js & Build outputs
.next/
out/
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
atlas-credentials.env

# System / OS files
.DS_Store
Thumbs.db
*.tsbuildinfo
